*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0);
    color: white;
    font-family:  "Roboto Mono", monospace;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* height: 100%;
} */

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 200px;
    margin-top: 100px;
    padding: 0;
}

.heading{
    color: grey;
    font-size: 20px;
    font-weight: 1000;
}



.Passwordbox{
    /* border: 2px solid white; */
    width: 30em;
    overflow-x: auto;
    height: 4em;
    background-color: rgba(128, 128, 128, 0.331);
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: grey;
}


.info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30em;
    height: 30em;
    margin-top: 30px;
    background-color: rgba(128, 128, 128, 0.331);
}

.list{
    margin-left: -85px;
    background-color: rgba(128, 128, 128, 0.331);
}

li{
    padding: 5px;
    /* margin-left: -50px; */
    background-color: rgba(128, 128, 128, 0.331);

}

input[type="checkbox"]{
    /* display: none; */
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.102);

}
input[type="checkbox"]:checked::before{
    content: "\2713";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

input[type="checkbox"]:checked{
    background-color: greenyellow;
    color: black;
}

input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 10px;
    background: background: linear-gradient(to right, greenyellow 0%, greenyellow 100%);
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid;
}



input[type="range"]::-webkit-slider-thumb:active{
    background-color: black;
    border: 1px solid yellowgreen;
    transform: scale(1.25);
}

.generate{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: greenyellow;
    color: rgba(0, 0, 0, 0.663);

}

.generate i{
    background-color: greenyellow;
    color: rgba(0, 0, 0, 0.663);
}

.generate i:hover{
    background-color: rgba(0, 0, 0, 0.663);
    color: greenyellow;
    background-color: rgba(26, 22, 22, 0.632);
}


button{
    border: none;
}


.generate:hover{
    border: greenyellow 1px solid;
    background-color: rgba(128, 128, 128, 0.331);
    color: greenyellow;
}


ul{
    list-style-type: none;
}

.info-box .length > p{
    margin-left: -185px;
    font-weight: 400;
    background-color: rgba(128, 128, 128, 0.331);
}


.strength-box{
    display: flex;
    align-items: center;
    background-color: rgba(26, 22, 22, 0.632);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    color: grey;

}

.strength-box .bar {
    border: 1px solid white;
    width: 10px;
    height: 25px;
    margin: 3px;
    background-color: rgba(49, 41, 41, 0.748);
}

.strength{
    margin-left: 200px;
    margin-right: 10px;
    height: fit-content;
    width: fit-content;
    background-color: rgba(128, 128, 128, 0);
    font-size: 20px;
}

#one{
    margin-left: px;
}

material-symbols-outlined{
    color: yellowgreen;
}


.length{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    height: 50px;
    background-color: rgba(128, 128, 128, 0);
}

.length .length > p{
    background-color: rgba(255, 0, 0, 0);
    
}

.length span{
    font-size: 30px;
    color: yellowgreen;
    background-color: rgba(128, 128, 128, 0);
}

@media screen and (max-width: 481px) {
    .container{
        max-width: fit-content;
        height: fit-content;
    }

    .Passwordbox, .info-box{
        max-width: fit-content;
        max-height: fit-content;
    }

}


